@model BlogCore.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Inicio";
}

<div class="row mt-1" >
    <div class="col-sm-12">
        <h1 class="text-center py-1">Ultimos Cursos y Tutoriales</h1>        
    </div>
</div>
@if(Model.ListaArticulos.Count() > 0)
{
    <hr>
    <div class="row mt-1">
        @foreach (var articulo in Model.ListaArticulos)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="@articulo.URLImagen" class="img-thumbnail" alt="@articulo.Nombre">
                        <h5 class="card-title">@articulo.Nombre</h5>
                        <a href="@Url.Action("Detalle", new { id = articulo.Id })" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
                <br>
            </div>
        }
    </div>
}else{
    <div class="col-sm-12">
        <h2 class="text-center">No hay artículos disponibles</h2>
    </div>
}