@model BlogCore.Models.Sliders

@{
    ViewData["Title"] = "Editar Slider";
}
<br><br>
<h3 class="text-center">Editar Slider</h3>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="row px-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8 my-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre" class="control-label">Nombre</label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Estado" class="control-label">Estado del Slider</label>
                </div>
                <div class="col-8">
                    <select asp-for="Estado" class="form-control">
                        <option value="">Seleccione un estado</option>
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="URLImagen" class="control-label">Imagen</label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" class="form-control" id="subidaArchivos"/>
                </div>
            </div>
            <br>
            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
        @* <div class="col-4 pt-3 my-4">
            <img src="@Model.Articulo.URLImagen" alt="" width="400" class="img-thumbnail" />
        </div> *@
    </div>
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.9.1/tinymce.min.js" integrity="sha512-09JpfVm/UE1F4k8kcVUooRJAxVMSfw/NIslGlWE/FGXb2uRO1Nt4BXAJ3LxPqNbO3Hccdu46qaBPp9wVpWAVhA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists link image code',
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code',
            height: 300,
            images_upload_url: '/Sliders/UploadImage',
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function (callback, value, meta) {
                if (meta.filetype === 'image') {
                    document.getElementById('subidaArchivos').click();
                    document.getElementById('subidaArchivos').onchange = function () {
                        var file = this.files[0];
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            callback(e.target.result, { alt: file.name });
                        };
                        reader.readAsDataURL(file);
                    };
                }
            }
        });
    </script>
}